.container {
    padding: 2px;
    font-family: Arial, sans-serif;
    background-color: #f5f8e4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #4caf50;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
 width: 100%;
    top: 0;
    font-weight: bold;
    margin-left: 0;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
  }
  
  .navbar-button {
    background-color: white;
    color: #4caf50;
    margin-right:10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #45a049;
    color: white;
  }
.category-section {
    margin-bottom: 40px;
}

.category-title {
    color: green;
    text-decoration: underline;
}


.plants-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.plant-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plant-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.plant-name {
    margin: 10px 0;
    color: #333;
}

.plant-description {
    font-size: 14px;
    color: #666;
}

.plant-cost {
    font-weight: bold;
    color: #000;
}
